<div id="<%= dom_id user %>">
  <p>
    <strong>Title:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Picture url:</strong>
    < %= user.picture_url % >
  </p>

  <p>
    <strong>Bio:</strong>
    < %= user.bio % >
  </p>

</div>
